.img_holder{
    height: 220px;
    width: 240px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img_holder a {
    display: flex;
    justify-content: center;
    height: 100%;    
}

.img_holder img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: block;
}


.img_holder img:hover{
    border: 3px solid #e12600;
    width: 104%;
    height: 104%;
    transition: all 0.8s ease;
}