.img_holder{
    height: 200px;
    width: 200px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.img_holder 

.img_holder img{
    height: 50%;
    width: 50%;
    border-radius: 10px;
    display: block;
}


.img_holder img:hover{
    border: 3px solid #8f3200;
    width: 102%;
    height: 102%;
    transition: all 1s ease;
}