.img_holder{
    flex-basis: 23%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_holder img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    display: block;
}